@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: Star Wars;
    src: url(/fontes/soloist1.ttf), url(/fontes/soloist3d.ttf) format(ttf);
}

:root{
    --cor-destaque: #ffef13;
    --cor-padrao: white;
    --cor0:black;
    --cor1: #1d1d1d; 
    --cor2: #3a3a3a;
    --cor3: #575757;
    --cor4: #b0b0b0;

    --fonte-padrao: sans-serif;
    --fonte-destaque: 'Star Wars';
    --fonte-destaque1: 'Bebas Neue';
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--cor4)
}

header{
    max-height: 300px;
    min-width: 320px;
    background-image: linear-gradient(to bottom, var(--cor3), black);
    color: white;
    text-align: center;
    font-family: var(--fonte-destaque1);
}

header h1{
    font-family: var(--fonte-destaque);
    color:#ffef13;
    font-weight: lighter;
    font-size: 3.5em;
    padding: 20px;  
}

header p{
    font-size: 1.2em;
    padding-bottom: 5px;
}

nav{
    background-color: var(--cor0);
    color: white;
    font-family: var(--fonte-padrao);
    height: 30px;
    text-align: left;
}

nav a{
    text-decoration: none;
    color: white;
    margin:20px;
}

nav a:hover{
    background-color: #3a3a3a;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 300ms;
    font-weight: bold;
}

nav a:active{
    color:var(--cor4);
}

main{
    background-color: white;
    max-width: 700px;
    margin: auto;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 20px;
}

article h1{
    font-family: var(--fonte-destaque1);
    font-weight: bolder;
    font-size: 4em;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
}

article h2{
  background-image: linear-gradient(to right, var(--cor1) 40%, transparent);
  border-radius: 5px;
  font-family: var(--fonte-destaque);
  color: white;
  font-weight: lighter;
  font-size: 1.6em;
  padding: 5px;
}

article h3{
    font-family: var(--fonte-destaque1);
    font-size: 1.3em;
    font-weight: lighter;
    margin: 10px 0px 10px 0px;
    text-decoration: underline;
}

article p{
    text-indent: 20px;
    text-align: justify;
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

article img{
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.185);
}

footer{
    background-color: #1d1d1d;
    color: white;
    font-family: var(--fonte-padrao);
    text-align: center;
    padding: 5px;
}

footer a{
    text-decoration: underline;
    color: white;
    font-size: large;

}

footer a:hover{
    background-color: var(--cor2);
    padding: 8px;
    border-radius: 10px;
    transition-duration: 300ms;
}

